item 카테고리 id 얻기

In [15]:
import pandas as pd
import numpy as np

In [16]:
items = pd.read_csv('../data/items.csv')
items_cat = pd.read_csv('../data/item_categories.csv')

In [17]:
# 고유값의 수
#print(items['item_id'].nunique())
#print(items_cat['item_category_id'].nunique())

In [18]:
items.head()

,item_name,item_id,item_category_id
0,! ВО ВЛАСТИ НАВАЖДЕНИЯ (ПЛАСТ.) D,0,40
1,!ABBYY FineReader 12 Professional Edition Full...,1,76
2,***В ЛУЧАХ СЛАВЫ (UNV) D,2,40
3,***ГОЛУБАЯ ВОЛНА (Univ) D,3,40
4,***КОРОБКА (СТЕКЛО) D,4,40

In [19]:
items_cat.head()

        item_category_name  item_category_id
0  PC - Гарнитуры/Наушники                 0
1         Аксессуары - PS2                 1
2         Аксессуары - PS3                 2
3         Аксессуары - PS4                 3
4         Аксессуары - PSP                 4

In [20]:
print(items.isnull().sum())
print(items.duplicated().sum())  
print()
print(items_cat.isnull().sum())
print(items_cat.duplicated().sum())

item_name           0
item_id             0
item_category_id    0
dtype: int64
0

item_category_name    0
item_category_id      0
dtype: int64
0

In [21]:
total_item = pd.merge(items, items_cat, how='left', on=['item_category_id'])
total_item.head()

,item_name,item_id,item_category_id,item_category_name
0,! ВО ВЛАСТИ НАВАЖДЕНИЯ (ПЛАСТ.) D,0,40,Кино - DVD
1,!ABBYY FineReader 12 Professional Edition Full...,1,76,Программы - Для дома и офиса (Цифра)
2,***В ЛУЧАХ СЛАВЫ (UNV) D,2,40,Кино - DVD
3,***ГОЛУБАЯ ВОЛНА (Univ) D,3,40,Кино - DVD
4,***КОРОБКА (СТЕКЛО) D,4,40,Кино - DVD

In [22]:
main_category = total_item['item_category_name'].str.split('-').apply(lambda x : x[0].strip())
main_category.unique()

array(['Кино', 'Программы', 'Музыка', 'Игры', 'Игры PC', 'Книги',
       'Подарки', 'Карты оплаты (Кино, Музыка, Игры)', 'Аксессуары',
       'Игры MAC', 'Игры Android', 'Игровые консоли', 'PC',
       'Карты оплаты', 'Билеты (Цифра)', 'Служебные', 'Доставка товара',
       'Чистые носители (штучные)', 'Чистые носители (шпиль)',
       'Элементы питания'], dtype=object)

In [23]:
sub_category = total_item['item_category_name'].str.split('-').apply(lambda x : x[1].strip() if len(x) > 1 else x[0])
sub_category.unique()

array(['DVD', 'Для дома и офиса (Цифра)', 'CD локального производства',
       'PS3', 'Стандартные издания', 'XBOX 360', 'Blu', 'Коллекционное',
       'MP3', 'Аудиокниги', 'Обучающие (Цифра)', 'Цифра',
       'Методические материалы 1С', 'Аудиокниги (Цифра)', 'Аудиокниги 1С',
       'Обучающие', '1С:Предприятие 8', 'Для дома и офиса', 'Винил',
       'CD фирменного производства', 'Развитие', 'Музыкальное видео',
       'Подарочные издания', 'MAC (Цифра)', 'PSP',
       'Дополнительные издания', 'PS4', 'XBOX ONE',
       'Коллекционные издания', 'Сувениры (в навеску)', 'PSVita',
       'Карты оплаты (Кино, Музыка, Игры)', 'Гаджеты, роботы, спорт',
       'Аксессуары для игр', 'Фигурки', 'Мягкие игрушки', 'PS2',
       'Настольные игры', 'Сертификаты, услуги', 'Гарнитуры/Наушники',
       'PSN', 'Настольные игры (компактные)', 'Компьютерная литература',
       'Сумки, Альбомы, Коврики д/мыши', 'Сувениры', 'Live!',
       'Live! (Цифра)', 'Открытки, наклейки', 'Путеводители',
       'Бизнес литература', 'Артбуки, энциклопедии', 'Атрибутика',
       'Билеты (Цифра)', 'Билеты', 'Доставка товара', 'Прочие',
       'Windows (Цифра)', 'Комиксы, манга', 'Чистые носители (штучные)',
       'Чистые носители (шпиль)', 'Открытки', 'Познавательная литература',
       'Служебные', 'Художественная литература', 'Элементы питания'],
      dtype=object)

In [24]:
total_item['main_category'] = main_category
total_item['sub_category'] = sub_category

In [25]:
from sklearn.preprocessing import LabelEncoder
# 사이킷런에서 라벨인코더를 임포트

label = LabelEncoder()

# category별 숫자 label 작업
total_item['main_type_id'] = label.fit_transform(total_item['main_category'])
total_item['sub_type_id'] = label.fit_transform(total_item['sub_category'])

In [26]:
total_item.isnull().sum()

item_name             0
item_id               0
item_category_id      0
item_category_name    0
main_category         0
sub_category          0
main_type_id          0
sub_type_id           0
dtype: int64

In [27]:
pre_items = total_item[['item_id', 'item_category_id', 'main_type_id', 'sub_type_id']]
pre_items.head()

   item_id  item_category_id  main_type_id  sub_type_id
0        0                40            11            4
1        1                76            15           31
2        2                40            11            4
3        3                40            11            4
4        4                40            11            4

In [28]:
pre_items.to_csv('../pre_data/pre_items.csv')