shop 전처리

In [1]:
import pandas as pd

from sklearn.preprocessing import LabelEncoder

In [2]:
shops = pd.read_csv('../data/shops.csv')

In [3]:
print(shops.isnull().sum())
print(shops.duplicated().sum())

shop_name    0
shop_id      0
dtype: int64
0

In [4]:
# shop_id와 shop_name 0을 57에 맞춰 변경
shops['shop_id'] = shops['shop_id'].replace(0, 57)
shops['shop_name'] = shops['shop_name'].str.replace('!Якутск Орджоникидзе, 56 фран', 'Якутск Орджоникидзе, 56')

# shop_id와 shop_name 1을 58에 맞춰 변경
shops['shop_id'] = shops['shop_id'].replace(1, 58)
shops['shop_name'] = shops['shop_name'].str.replace('!Якутск ТЦ "Центральный" фран', 'Якутск ТЦ "Центральный"')

# shop_id와 shop_name 11을 10에 맞춰 변경
shops['shop_id'] = shops['shop_id'].replace(11, 10)
shops['shop_name'] = shops['shop_name'].str.replace('Жуковский ул. Чкалова 39м?', 'Жуковский ул. Чкалова 39м²')

# '?'가 안사라지고 붙기에 strip을 사용해서 '?' 제거
shops['shop_name'] = shops['shop_name'].str.strip('?')
# м²²으로 변경되서 м²로 다시 변경
shops['shop_name'] = shops['shop_name'].str.replace('Жуковский ул. Чкалова 39м²²', 'Жуковский ул. Чкалова 39м²')

# shop_id와 shop_name 40을 39에 맞춰 변경
shops['shop_id'] = shops['shop_id'].replace(40, 39)
shops['shop_name'] = shops['shop_name'].str.replace('РостовНаДону ТРК "Мегацентр Горизонт" Островной', 'РостовНаДону ТРК "Мегацентр Горизонт"')

C:\Users\SBAUser\AppData\Local\Temp\ipykernel_19700\2970142803.py:11: FutureWarning: The default value of regex will change from True to False in a future version.
  shops['shop_name'] = shops['shop_name'].str.replace('Жуковский ул. Чкалова 39м?', 'Жуковский ул. Чкалова 39м²')
C:\Users\SBAUser\AppData\Local\Temp\ipykernel_19700\2970142803.py:16: FutureWarning: The default value of regex will change from True to False in a future version.
  shops['shop_name'] = shops['shop_name'].str.replace('Жуковский ул. Чкалова 39м²²', 'Жуковский ул. Чкалова 39м²')

In [5]:
shops = shops.drop_duplicates()

In [6]:
# 도시 컬럼 추가하기
shops['city'] = shops['shop_name'].str.split(' ').map(lambda row: row[0])
shops.head()

                        shop_name  shop_id      city
0         Якутск Орджоникидзе, 56       57    Якутск
1         Якутск ТЦ "Центральный"       58    Якутск
2                Адыгея ТЦ "Мега"        2    Адыгея
3  Балашиха ТРК "Октябрь-Киномир"        3  Балашиха
4        Волжский ТЦ "Волга Молл"        4  Волжский

In [7]:
# 도시 종류별 숫자 라벨링을 해보자
label = LabelEncoder()
shops['city_id'] = label.fit_transform(shops['city'])
# fit_transform(): train data에서만 쓰이는 것 >> 학습시키기 위해
pre_shops = shops.drop(columns=["city", "shop_name"])
pre_shops.head()

   shop_id  city_id
0       57       29
1       58       29
2        2        0
3        3        1
4        4        2

In [8]:
pre_shops.count()

shop_id    56
city_id    56
dtype: int64

In [9]:
pre_shops.to_csv("../pre_data/pre_shops.csv")