test 5100개 해당하는 empty_matrix 얻기

In [1]:
import pandas as pd
import numpy as np
from itertools import product

In [2]:
test = pd.read_csv('../data/test.csv')
test.head()

   ID  shop_id  item_id
0   0        5     5037
1   1        5     5320
2   2        5     5233
3   3        5     5232
4   4        5     5268

In [3]:
print(test.isnull().sum())
print()
print(test.duplicated().sum())

ID         0
shop_id    0
item_id    0
dtype: int64

0

In [4]:
# 가게가 몇개 있는지 파악
print(test.shop_id.nunique())
# 아이템이 몇개 있는지 파악
print(test.item_id.nunique())

42
5100

In [5]:
shop_id = test.shop_id.unique()
item_id = test.item_id.unique()

In [6]:
# 34개의 empty matrix 생성
empty_matrix = pd.DataFrame(list(product(np.arange(35), shop_id)), columns=['date_block_num','shop_id'])
# product ==> cross join과 똑같은 역할
new_test = pd.DataFrame(list(product(shop_id, item_id)), columns=['shop_id','item_id'])

In [7]:
empty_matrix.tail()

      date_block_num  shop_id
1465              34       46
1466              34       41
1467              34       44
1468              34       39
1469              34       45

In [8]:
new_test.head()

   shop_id  item_id
0        5     5037
1        5     5320
2        5     5233
3        5     5232
4        5     5268

In [9]:
# 34의 열을 기준으로 병합
pre_test = pd.merge(empty_matrix, new_test, how='left', on=['shop_id'])
pre_test.head()

   date_block_num  shop_id  item_id
0               0        5     5037
1               0        5     5320
2               0        5     5233
3               0        5     5232
4               0        5     5268

In [10]:
pre_test.to_csv('../pre_data/pre_test.csv')