shop 전처리

In [ ]:
import pandas as pd

from sklearn.preprocessing import LabelEncoder

In [ ]:
shops = pd.read_csv('../data/shops.csv')

In [ ]:
shops.head()

                        shop_name  shop_id
0   !Якутск Орджоникидзе, 56 фран        0
1   !Якутск ТЦ "Центральный" фран        1
2                Адыгея ТЦ "Мега"        2
3  Балашиха ТРК "Октябрь-Киномир"        3
4        Волжский ТЦ "Волга Молл"        4

In [ ]:
shops.info()

# 상점: 60개 , 결측값 없음

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60 entries, 0 to 59
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   shop_name  60 non-null     object
 1   shop_id    60 non-null     int64
dtypes: int64(1), object(1)
memory usage: 1.1+ KB

In [ ]:
# item과 item category의 결측값, 중복값 확인 

print(shops.isnull().sum())
print(shops.duplicated().sum())

# 두 값 모두 없다는 것을 확인

shop_name    0
shop_id      0
dtype: int64
0

In [ ]:
# 상점명이 유사한 4곳이 발견됨
# 상점 번호와 상점 이름을 같게 맞춤

In [ ]:
# shop_id와 shop_name 0을 57에 맞춰 변경
shops['shop_id'] = shops['shop_id'].replace(0, 57)
shops['shop_name'] = shops['shop_name'].str.replace('!Якутск Орджоникидзе, 56 фран', 'Якутск Орджоникидзе, 56')

# shop_id와 shop_name 1을 58에 맞춰 변경
shops['shop_id'] = shops['shop_id'].replace(1, 58)
shops['shop_name'] = shops['shop_name'].str.replace('!Якутск ТЦ "Центральный" фран', 'Якутск ТЦ "Центральный"')

# shop_id와 shop_name 11을 10에 맞춰 변경
shops['shop_id'] = shops['shop_id'].replace(11, 10)
shops['shop_name'] = shops['shop_name'].str.replace('Жуковский ул. Чкалова 39м?', 'Жуковский ул. Чкалова 39м²')

# '?'가 안사라지고 붙기에 strip을 사용해서 '?' 제거
shops['shop_name'] = shops['shop_name'].str.strip('?')
# м²²으로 변경되서 м²로 다시 변경
shops['shop_name'] = shops['shop_name'].str.replace('Жуковский ул. Чкалова 39м²²', 'Жуковский ул. Чкалова 39м²')

# shop_id와 shop_name 40을 39에 맞춰 변경
shops['shop_id'] = shops['shop_id'].replace(40, 39)
shops['shop_name'] = shops['shop_name'].str.replace('РостовНаДону ТРК "Мегацентр Горизонт" Островной', 'РостовНаДону ТРК "Мегацентр Горизонт"')

<ipython-input-11-d04fad2a80a2>:11: FutureWarning: The default value of regex will change from True to False in a future version.
  shops['shop_name'] = shops['shop_name'].str.replace('Жуковский ул. Чкалова 39м?', 'Жуковский ул. Чкалова 39м²')
<ipython-input-11-d04fad2a80a2>:16: FutureWarning: The default value of regex will change from True to False in a future version.
  shops['shop_name'] = shops['shop_name'].str.replace('Жуковский ул. Чкалова 39м²²', 'Жуковский ул. Чкалова 39м²')

In [ ]:
# 같은 곳으로 변경되면서 중복된 부분 처리

shops = shops.drop_duplicates()

In [ ]:
# 상점 이름의 첫 단어 : 도시
# 도시 컬럼 추가하기

shops['city'] = shops['shop_name'].str.split(' ').map(lambda row: row[0])
shops.head()

                        shop_name  shop_id      city
0         Якутск Орджоникидзе, 56       57    Якутск
1         Якутск ТЦ "Центральный"       58    Якутск
2                Адыгея ТЦ "Мега"        2    Адыгея
3  Балашиха ТРК "Октябрь-Киномир"        3  Балашиха
4        Волжский ТЦ "Волга Молл"        4  Волжский

In [ ]:
# 도시 종류별 숫자 라벨링

label = LabelEncoder()

shops['city_id'] = label.fit_transform(shops['city'])
# fit_transform(): train data에서만 쓰이는 것 >> 학습시키기 위해

# 숫자 라벨링 된 컬럼만 남김
pre_shops = shops.drop(columns=["city", "shop_name"])

pre_shops.head()

   shop_id  city_id
0       57       29
1       58       29
2        2        0
3        3        1
4        4        2

In [ ]:
pre_shops.count()

NameError: ignored

In [ ]:
pre_shops.to_csv("../pre_data/pre_shops.csv")

NameError: ignored